
<!DOCTYPE html>
<html>
<head>
<title>详情</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--menu-->
<script src="js/scripts.js"></script>
<link href="css/styles.css" rel="stylesheet">
<!--//menu-->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Real Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="js/responsiveslides.min.js"></script>
	<script>
		window.onload=function () {
		document.getElementById("username_msg").innerText =$.cookie('username')
			getMessage()
			getFacility()
		}
		function getFacility()
		{
            var mainID=getQueryString("mainID");
            var callback = function (data) {
                var lable=new Array("<h2><span  class='label label-default'>",
					"<h2><span class='label label-primary'>",
					"<h2><span  class='label label-success'>",
					"<h2><span class='label label-info'>",
					"<h2><span  class='label label-warning'>",
                    "<h2><span  class='label label-danger'>")
				var spans=document.getElementById("lable")
                var result=JSON.stringify(data);
                var facility=JSON.parse(result);
                for(var key in facility){
                    var r=Math.floor(Math.random()*5)
                    var l=document.createElement("td");
                    l.innerHTML=lable[r]+key+"</h2>"+"</span>";
                    spans.appendChild(l)
                }
            }
            $.postJSON('/api/getFacility',
                {"mainID":mainID},callback);
		}
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        function getMessage()
		{
		    var mainID=getQueryString("mainID");
            var callback = function (data) {
                var result=JSON.stringify(data);
                var information=JSON.parse(result);
                document.getElementById("roomOriented").innerHTML=information[0].roomOriented;
                document.getElementById("roomStructure").innerHTML=information[0].roomStructure;
                document.getElementById("roomFloor").innerHTML=information[0].roomFloor;
                document.getElementById("elevator").innerHTML=information[0].elevator;
                document.getElementById("roomPrice").innerHTML=information[0].roomPrice;
                document.getElementById("check_in_date").innerHTML=information[0].check_in_date;
                document.getElementById("signing_time").innerHTML=information[0].signing_time;
                document.getElementById("house_status").innerHTML=information[0].house_status;
                document.getElementById("roomArea").innerHTML=information[0].roomArea+"m²";
                document.getElementById("describe").innerHTML=information[0].describes;
                document.getElementById("spaceRoom").innerHTML=information[0].spaceDimType;

            }
            $.postJSON('/api/getDetail',
                {"mainID":mainID},callback);
		}
        $.postJSON = function(url, data,callback) {
            return jQuery.ajax({
                'type' : 'POST',
                'url' : url,
                'contentType' : 'application/json',
                'data' : JSON.stringify(data),
                'dataType' : 'json',
                'success' : callback
            });
        };
	</script>
</head>
<body>
<!--header-->
	<div class="navigation">
			<div class="container-fluid">
				<nav class="pull">
					<ul>
						<li><a  href="index">Home</a></li>
					</ul>
				</nav>			
			</div>
		</div>

<div class="header">
	<div class="container">
		<!--logo-->
			<div class="logo">
				<h1><a href="/rentroom">小迁 租房</a></h1>
			</div>
		<!--//logo-->
		<div class="top-nav">
			<ul class="right-icons">
				<li><span ><i class="glyphicon glyphicon-phone"> </i><font id="username_msg">欢迎 请登陆</font></span></li>
				<li><a  href="/"><i class="glyphicon glyphicon-user"> </i>Login</a></li>
				<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a></li>
				
			</ul>
			<div class="nav-icon">
				<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
					</div>	
				<!---
				<a href="#" class="right_bt" id="activator"><i class="glyphicon glyphicon-menu-hamburger"></i>  </a>
			--->
			</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->
				  
				<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
				<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
			<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
					    <!----- tabs-box ---->
				<div class="sap_tabs">	
				     <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						  <ul class="resp-tabs-list">
						  	  <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>All Homes</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>For Sale</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>For Rent</span></li>
							  <div class="clearfix"></div>
						  </ul>				  	 
						  <div class="resp-tabs-container">
						  		<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>All Homes</h2><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
								 	<div class="facts">
									  	<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div>        
							        </div>
						  		</div>
							     <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>For Sale</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="facts">									
										<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div> 
							        </div>	
								 </div>									
							      <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>For Rent</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
									 <div class="facts">
										<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div> 
							         </div>	
							    </div>
					      </div>
					 </div>
					 <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
				    	<script type="text/javascript">
						    $(document).ready(function () {
						        $('#horizontalTab').easyResponsiveTabs({
						            type: 'default', //Types: default, vertical, accordion           
						            width: 'auto', //auto or any width like 600px
						            fit: true   // 100% fit in a container
						        });
						    });
			  			 </script>	
				</div>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
					
	
		</div>
		<div class="clearfix"> </div>
		</div>	
</div>
<!--//-->	
<div class=" banner-buying">
	<div class=" container">
	<!---->
	<div class="menu-right">
		 <ul class="menu">
			<li class="item1"><a href="#">更多<i class="glyphicon glyphicon-menu-down"> </i> </a>
			<ul class="cute">
				<li class="subitem1"><a href="/rentroom">主页 </a></li>
				<li class="subitem1"><a href="/">登出 </a></li>
			</ul>
		</li>
		</ul>
	</div>
	<div class="clearfix"> </div>
		<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
      		
	</div>
</div>
<!--//header-->
<!---->

<div class="container">
	
	<div class="buy-single-single">
		<div class="col-md-9 single-box">
       <div class=" buying-top">
		 <div class="flexslider">
  <ul class="slides">
    <li data-thumb="images/ss.jpg">
      <img src="images/ss.jpg" />
    </li>
    <li data-thumb="images/ss1.jpg">
      <img src="images/ss1.jpg" />
    </li>
    <li data-thumb="images/ss2.jpg">
      <img src="images/ss2.jpg" />
    </li>
    <li data-thumb="images/ss3.jpg">
      <img src="images/ss3.jpg" />
    </li>
  </ul>
</div>
<!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
</div>
<div class="buy-sin-single">
			<div class="col-sm-5 middle-side immediate">
					     <h4>房屋详细信息</h4>
				         <p><span class="bath">位置</span>:<span class="two text-info" id="roomSpace"></span></p>
					     <p><span class="bath">面积</span>:<span class="two text-info" id="roomArea"></span></p>
					     <p><span class="bath">朝向</span>:<span class="two text-info" id="roomOriented"></span></p>
					     <p><span class="bath">户型</span>:<span class="two text-info" id="roomStructure"></span></p>
					     <p><span class="bath">楼层</span>:<span class="two text-info" id="roomFloor"> </span></p>
						 <p><span class="bath">电梯</span>:<span class="two text-info" id="elevator"></span></p>
						 <p><span class="bath">价格</span>:<span class="two text-info" id="roomPrice"></span></p>
				         <p><span class="bath3">入住日期 </span>:<span class="two text-info" id="check_in_date"></span></p>
				         <p><span class="bath3">签约时长 </span>:<span class="two text-info" id="signing_time"></span></p>
				         <p><span class="bath3">房屋状态 </span>:<span class="two text-info" id="house_status"></span></p>
				<div class="right-side">
							 <a href="contact.html" class="hvr-sweep-to-right more" >联系卖家</a>
				</div>
			</div>
	        <div class="col-sm-7 buy-sin">
					 	<h4>描述</h4>
					    <p id="describe"></p>
			</div>
					 <div class="clearfix"> </div>
					</div>

		</div>

		<div class="col-md-3">

	    </div>
		<div class="clearfix"> </div>
		</div>
	</div>

<div class="container" style="height: 100px"></div>
<div  class="panel  panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">基础设施</h3>
	</div>
	<div class="panel-body">
		<table>
		<tr id="lable"></tr>
	   </table>
	</div>

</div>
<div class="container" style="height: 100px"></div>
</body>
</html>