<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上传file属性</title>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body>
<form id="testForm">
    <input id="input-file" class="upload" type="file" value="">
</form>
<input type="button" onclick="submit()" value="12312">
</body>
<script>
    function submit() {
       var formData = new FormData();
       formData.append('uploadFile', $('#input-file')[0].files[0]);
        $.ajax({
            url: "api/upload",
            type: "POST",
            data: formData,
            processData: false, // tell jQuery not to process the data
            contentType: false, // tell jQuery not to set contentType
            success:""
        });
    }
</script>
</html>
