<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--menu-->
    <script src="js/scripts.js"></script>
    <link href="css/styles.css" rel="stylesheet">
    <!--//menu-->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Real Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script>
        window.onload = function () {
            var username = $.cookie('username');
            if (typeof(username) != "undefined") {
                document.getElementById("username_msg").innerText = username
            }
            var username = document.getElementById("username_msg").innerText;
            if (username != "欢迎 请登陆") {
                var p = document.getElementById("personal")
                var userCenter = document.createElement("li");
                var logOut = document.createElement("li");
                userCenter.innerHTML = "<li class='subitem1'><a href='personal'>个人中心</a></li>";
                p.appendChild(userCenter)
                logOut.innerHTML = "<li class='subitem1'><a href='javascript:logout()'>登出 </a></li>"
                p.appendChild(logOut)
            }
            getRecommend()
        }
        var image

        function getImageName(mainID) {
            var callback = function (data) {
                var result = JSON.stringify(data)
                var jsonobj = JSON.parse(result);
                if (jsonobj == 0) {
                    image = "default.jpg"
                } else {
                    image = jsonobj;
                }

            }
            $.postJSON('/api/getImageName', {"mainID": mainID}, callback);
            return image
        }

        function getRecommend() {
            var callback = function (data) {
                var result = JSON.stringify(data)
                var jsonobj = JSON.parse(result);
                var demo = document.getElementById("localroom")
                str = ""
                for (i = 0; i < jsonobj.length; i++) {
                    var imagename = getImageName(jsonobj[i].mainID)
                    str = str + "<li>" + "<div class='project-fur'>" +
                        "<a href='detail?" + jsonobj[i].mainID + "'>" +
                        "<img class='img-responsive' src='/roomImage/" + imagename + "' height='600' width='1000' alt=''/> " +
                        "</a>" +
                        "<div class='fur'>" +
                        "<div class='fur1'>" +
                        "<span class='fur-money'>"+jsonobj[i].roomPrice+"元/月"+" </span>" +
                        "<h6 class='fur-name'>" +
                        "<span>"+jsonobj[i].address+"</span>" +
                        "<a href='detail?" + jsonobj[i].mainID + "'>"+"详情"+"</a></h6>" +
                        "</div>" +
                        "<div class='fur2'>" +
                        "<span>"+jsonobj[i].spaceDimType+"</span>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        " </li>"
                }
                demo.innerHTML = str
                $("#localroom").flexisel({
                    visibleItems: 5,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });
            }
            $.postJSON('/api/getLocalHot', {"spaceDimID": "230001"}, callback);
        }

        $.postJSON = function (url, data, callback) {
            return jQuery.ajax({
                'async': false,
                'type': 'POST',
                'url': url,
                'contentType': 'application/json',
                'data': JSON.stringify(data),
                'dataType': 'json',
                'success': callback
            });
        };
    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="container">
        <!--logo-->
        <div class="logo">
            <h1><a href="/index">小迁 租房</a></h1>
        </div>
        <!--//logo-->
        <div class="top-nav">
            <ul class="right-icons">
                <li><span><i class="glyphicon glyphicon-phone"> <font id="username_msg">欢迎 请登陆</font></i></span></li>
                <li><a href="/"><i class="glyphicon glyphicon-user"> </i>Login</a></li>
            </ul>
            <div class="nav-icon">
                <div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
                    <a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
                </div>
            </div>
            <div class="clearfix"></div>

            <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
            <script>
                $(document).ready(function () {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>


        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//-->
<div class=" banner-buying">
    <div class=" container">
        <div class="menu-right">
            <ul class="menu">
                <li class="item1"><a href="#"> Menu<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a href="index">首页</a></li>
                        <li class="subitem1"><a href="/rentroom">招租信息</a></li>
                        <div id="personal">
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!--initiate accordion-->
        <script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });

            });
        </script>

    </div>
</div>
<!--//header-->
<div class="container">
    <div class="clearfix"></div>
    <div class="top-grid">
        <h3>热门城市推荐</h3>
        <div class="grid-at">
            <div class="col-md-3 grid-city">
                <div class="grid-lo">
                    <a href="/cityrent?spaceDimID=110000">
                        <figure class="effect-layla">
                            <img class=" img-responsive" src="images/ce.jpg" alt="img06">
                            <figcaption>
                                <h4>北京</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-3 grid-city">
                <div class="grid-lo">
                    <a href="/cityrent?spaceDimID=310000">
                        <figure class="effect-layla">
                            <img class=" img-responsive" src="images/ce1.jpg" alt="img06">
                            <figcaption>
                                <h4>上海</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-6 grid-city grid-city1">
                <div class="grid-me">
                    <div class="col-md-8 grid-lo1">
                        <div class=" grid-lo">
                            <a href="/cityrent?spaceDimID=210002">
                                <figure class="effect-layla">
                                    <img class=" img-responsive" src="images/ce2.jpg" alt="img06">
                                    <figcaption>
                                        <h4 class="effect1">大连市</h4>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 grid-lo2">
                        <div class=" grid-lo">
                            <a href="/cityrent?spaceDimID=230001">
                                <figure class="effect-layla">
                                    <img class=" img-responsive" src="images/ce3.jpg" alt="img06">
                                    <figcaption>
                                        <h4 class="effect2">哈尔滨</h4>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="grid-me">
                    <div class="col-md-6 grid-lo3">
                        <div class=" grid-lo">
                            <a href="/cityrent?spaceDimID=440002">
                                <figure class="effect-layla">
                                    <img class="img-responsive" src="images/ce4.jpg" alt="img06">
                                    <figcaption>
                                        <h4 class="effect3">深圳</h4>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 grid-lo4">
                        <div class=" grid-lo">
                            <a href="/cityrent?spaceDimID=210001">
                                <figure class="effect-layla">
                                    <img class="img-responsive" src="images/ce5.jpg" alt="img06">
                                    <figcaption>
                                        <h4 class="effect3">沈阳</h4>

                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!---->
<!--premium-project-->
<div class="premium">
</div>
<!--//premium-project-->
<!---->
<div class="container">
    <div class="future">
        <h3>本地房源</h3>
        <div class="content-bottom-in">
            <ul id="localroom">
            </ul>
            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
        </div>
    </div>
</div>
</body>
</html>