<!DOCTYPE html>
<html>
<head>
	<title>主页</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--menu-->
	<script src="js/scripts.js"></script>
	<link href="css/styles.css" rel="stylesheet">
	<!--//menu-->
	<!--theme-style-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Real Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="../templates/js/all.js"></script>
	<!--//用户名添加-->
	<script type="text/javascript">
		var flag=false
      window.onload=function () {
          document.getElementById("username_msg").innerText =$.cookie('username')
          getAllCity()
		  getPageSize()
          getPageInformation(0)
          }
	  function getAllCity() {
          var callback = function (data) {
              var result=JSON.stringify(data)
              var allCity=JSON.parse(result);
              for(var i = 0;i < allCity.length; i++){ //遍历一下json数据
                  r_city.add(new Option(allCity[i].cityName,allCity[i].cityId));
              }
          }
          $.postJSON('/api/getAllCity',"",callback);

      }
	  function page(pageNumber) {
		  clear()
		  getPageInformation(pageNumber)
		  getPageSize()
      }
	  function clear() {
          var tabRows = document.getElementById("room").rows.length ;
          for(var i=0;i<tabRows;i++)
          {
              document.getElementById("room").deleteRow(0) ;
          }
          var page=document.getElementById("page_num");
          page.innerHTML = "";
      }
      function getPageSize() {
          var page_num=document.getElementById("page_num");
          var callback = function (data) {
              var first = document.createElement('li'); // 生成一个 li元素
			  var last=document.createElement('li'); // 生成一个 li元素
              var result=JSON.stringify(data)
              var pageSize=JSON.parse(result);
              first.innerHTML= "<a href='javascript:page("+0+");'>"+"首页"+"</a>"
              document.getElementById('page_num').appendChild(first);
              for(var i=0;i<pageSize;i++)
              {
                  var elem_li = document.createElement('li'); // 生成一个 li元素
				  var num=i+1
                  elem_li.innerHTML= "<a href='javascript:page("+i+");'>"+num+"</a>"
                  // 分页组件内容
                  document.getElementById('page_num').appendChild(elem_li);

              }
              var lastPage=pageSize-1;
              last.innerHTML= "<a href='javascript:page("+lastPage+");'>"+"尾页"+"</a>"
              document.getElementById('page_num').appendChild(last);
          }

          var city_sel=document.getElementById("r_city");
          var type_sel=document.getElementById("r_type");
          var spaceDimID=city_sel.options[city_sel.selectedIndex].value
          var roomDimID=type_sel.options[type_sel.selectedIndex].value
          $.postJSON('/api/getPageSize',{"roomDimID":roomDimID, "spaceDimID":spaceDimID},callback);
      }
      function getPageInformation(pageNumber) {
          var callback = function (data) {
              var result=JSON.stringify(data)
              var jsonobj=JSON.parse(result);
              var table=document.getElementById("message");
              var tbody=document.getElementById("room");
              for(var i = 0;i < jsonobj.length; i++){ //遍历一下json数据
                  var trow = getDataRow(jsonobj[i]); //定义一个方法,返回tr数据
                  tbody.appendChild(trow);
              }
              table.appendChild(tbody)
          }
          var city_sel=document.getElementById("r_city");
          var type_sel=document.getElementById("r_type");
          var spaceDimID=city_sel.options[city_sel.selectedIndex].value
          var roomDimID=type_sel.options[type_sel.selectedIndex].value
          $.postJSON('/api/getSelectMessage/'+pageNumber,
              {"roomDimID":roomDimID,"spaceDimID":spaceDimID},callback);
      }
      function getDataRow(h) {
          var row = document.createElement('tr');
          var roomDimType = document.createElement('td');
          roomDimType.innerHTML = h.roomDimType;
          row.appendChild(roomDimType);

          var spaceDimType = document.createElement('td');
          spaceDimType.innerHTML = h.spaceDimType;
          row.appendChild(spaceDimType);

          var roomArea = document.createElement('td');
          roomArea.innerHTML = h.roomArea+"m²";
          row.appendChild(roomArea);

          var roomPrice = document.createElement('td');
          roomPrice.innerHTML = h.roomPrice+"/月";
          row.appendChild(roomPrice);

          var roomStructure = document.createElement('td');
          roomStructure.innerHTML = h.roomStructure;
          row.appendChild(roomStructure);

		  var detail=document.createElement('td');
		  var str="index?roomDimID="+h.roomDimID;
          detail.innerHTML = "<a href='"+str+"'>查看详细信息</a>";
          row.appendChild(detail);
		  return row
      }
        $.postJSON = function(url, data,callback) {
            return jQuery.ajax({
                'type' : 'POST',
                'url' : url,
                'contentType' : 'application/json',
                'data' : JSON.stringify(data),
                'dataType' : 'json',
                'success' : callback
            });
        };
	</script>
</head>
<body>
<!--header-->
<div class="navigation">
	<div class="container-fluid">
		<nav class="pull">
			<ul>
				<li><a  href="index.html">Home</a></li>
				<li><a  href="about.html">About Us</a></li>
				<li><a  href="blog.html">Blog</a></li>
				<li><a  href="terms.html">Terms</a></li>
				<li><a  href="privacy.html">Privacy</a></li>
				<li><a  href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="header">
	<div class="container">
		<!--logo-->
		<div class="logo">
			<h1><a href="index.html">小迁 租房</a></h1>
		</div>
		<!--//logo-->
		<div class="top-nav">
			<ul class="right-icons">
				<li><span><i class="glyphicon glyphicon-phone"> <font id="username_msg">欢迎 请登陆</font></i></span></li>
				<li><a  href="/"><i class="glyphicon glyphicon-user"> </i>Login</a></li>
				<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a></li>
			</ul>
			<div class="nav-icon">
				<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
					<a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
				</div>
				<!---
				<a href="#" class="right_bt" id="activator"><i class="glyphicon glyphicon-menu-hamburger"></i>  </a>
			--->
			</div>
			<div class="clearfix"> </div>
			<!---pop-up-box---->

			<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
			<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
			<!---//pop-up-box---->
			<div id="small-dialog" class="mfp-hide">
				<!----- tabs-box ---->
				<div class="sap_tabs">
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>All Homes</span></li>
							<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>For Sale</span></li>
							<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>For Rent</span></li>
							<div class="clearfix"></div>
						</ul>
						<div class="resp-tabs-container">
							<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>All Homes</h2><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
							<div class="facts">
								<div class="login">
									<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
									<input type="submit" value="">
								</div>
							</div>
						</div>
							<h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>For Sale</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
							<div class="facts">
								<div class="login">
									<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
									<input type="submit" value="">
								</div>
							</div>
						</div>
							<h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>For Rent</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
							<div class="facts">
								<div class="login">
									<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
									<input type="submit" value="">
								</div>
							</div>
						</div>
						</div>
					</div>
					<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
					<script type="text/javascript">
                        $(document).ready(function () {
                            $('#horizontalTab').easyResponsiveTabs({
                                type: 'default', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true   // 100% fit in a container
                            });
                        });
					</script>
				</div>
			</div>
			<script>
                $(document).ready(function() {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
			</script>


		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//-->
<div class=" banner-buying">
	<div class=" container">
		<h3><span>租房</span>信息</h3>
		<!---->
		<div class="menu-right">
			<ul class="menu">
				<li class="item1"><a href="#"> Menu<i class="glyphicon glyphicon-menu-down"> </i> </a>
					<ul class="cute">
						<li class="subitem2"><a href="#">Rent </a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
		<!--initiate accordion-->
		<script type="text/javascript">
            $(function() {
                var menu_ul = $('.menu > li > ul'),
                    menu_a  = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function(e) {
                    e.preventDefault();
                    if(!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true,true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true,true).slideUp('normal');
                    }
                });

            });
		</script>

	</div>
</div>

<!--//租房信息部分-->
<div class="container">
	<!--price-->
	<div class="price">
		<div class="price-grid">
			<div class="col-sm-4 price-top">
				<h4>城市</h4>
				<select class="in-drop" id="r_city">
					<option selected value="-1">无限制</option>
				</select>
			</div>
			<div class="col-sm-4 price-top">
				<h4>类型</h4>
				<select class="in-drop" id="r_type">
					<option selected value="-1">无限制</option>
					<option value="10">长租</option>
					<option value="11">短租</option>
				</select>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="price-grid">
			<div class="col-sm-6 price-top1">
				<h4>价格区间</h4>
				<ul>
					<li>
						<select class="in-drop" id="low_price">
							<option selected value="0">0</option>
							<option>1000 </option>
							<option>1500</option>
							<option>2000</option>
							<option>2500</option>
							<option>3000</option>
						</select>
					</li>
					<span>-</span>
					<li>
						<select class="in-drop" id="hig_price">
							<option selected value="-1">无限制 </option>
							<option>1000 </option>
							<option>1500</option>
							<option>2000</option>
							<option>2500</option>
							<option>3000</option>
						</select>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 price-top1">
				<h4>面积区间</h4>
				<ul>
					<li>
						<select class="in-drop" id="min_area">
							<option  selected value="0">0</option>
							<option>100 </option>
							<option>150</option>
							<option>200</option>
							<option>250</option>
							<option>300</option>
						</select>
					</li>
					<span>-</span>
					<li>
						<select class="in-drop" id="max_area">
							<option selected value="-1">无限制</option>
							<option>100 </option>
							<option>150</option>
							<option>200</option>
							<option>250</option>
							<option>300</option>
						</select>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div >
			<button type="button" onclick="page(0)" class="btn btn-primary btn-lg btn-block">迁一下</button>
		</div>
	</div>
	<!---->
</div>
<table class="table table-hover" id="message">
	<thead>
	<tr>
		<th>房间类型</th>
		<th>地理位置</th>
		<th>居住面积</th>
		<th>价格</th>
		<th>房屋结构</th>
		<th>详情</th>
	</tr>
	</thead>
	<tbody id="room">
	</tbody>
</table>
<div align="center">
	<ul class="pagination" id="page_num">
	</ul>

</div>
</div>
<!--//footer-->
</body>
</html>